.i {
          display: flex;
          height: 100vh;
}

.i-left {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
}

.i-right {
          flex: 1;
          height: 100%;
          position: relative;
}

.i-left-wrapper {
          padding: 50px;
          height: 50%;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
}

.i-intro {
          font-size: 30px;
          font-weight: 300;
}

.i-name {
          font-size: 60px;
}

.i-title {
          height: 50px;
          overflow: hidden;
          padding: 20px 0;
}

.i-title-wrapper {
          height: 100%;
          animation: move 10s ease-in infinite alternate;
}

@keyframes move {
          25% {
                    transform: translateY(-25px);
          }

          50% {
                    transform: translateY(-80px);
          }

          75% {
                    transform: translateY(-125px);
          }

          100% {
                    transform: translateY(-175px);
          }
}

.i-title-item {
          height: 50px;
          font-size: 30px;
          font-weight: bold;
          color: purple;

          display: flex;
          align-items: center;
}

.i-desc {
          padding: 20px 0;
}

.i-scroll {
          width: 30px;
          height: 100%;

}

.i-img {
          width: 80%;
          height: 100%;

          display: flex;
          align-items: center;

          /* margin: 20px 0 0; */

          position: absolute;
          /* top: 10px; */
          right: 2px;

          object-fit: cover;
}

.i-bg {
          clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
          background: #59b256;

          height: 100%;
          width: 100%;

          position: absolute;
          top: 0;
          right: 0;
}


@media screen and (max-width: 480px) {
          .i {
                    flex-direction: column;
          }

          .i-bg, .i-img {
                    display: none;
          }
}

